@import url('https://fonts.googleapis.com/css?family=Mooli');
:root {
    --left-side-width: 40vw;
    --left-side-height: 40vh;

    --right-side-width: 60vw;
    --right-side-height: 60vh;

    --start-margin: 2.5em;

    font-family: Mooli, Roboto, sans-serif;
    color: white;
}

/*Animations*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-info-text,
.form-content,
.form-footer {
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
}

.header-info-text {
    animation-delay: 100ms;
}

.form-content {
    animation-delay: 300ms;
}

.form-footer {
    animation-delay: 500ms;
}

.span-fade-in-out{
    opacity: 0;
    transition: opacity 1s ease;
 }

/*Styling*/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-style: italic;
}

.left-side-content {
    width: auto;
    min-height: var(--left-side-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: center/cover no-repeat url(../img/vecteezy_abstract-colorful-70s-background-vector-vintage-retro_21672511.jpg);
}


.left-side-content .logo-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-content .page-logo {
    background-color: transparent;
    width: 150px;
    height: 150px;
}

.left-side-content .logo-text {
    font-style: italic;
    font-weight: 900;
    font-size: xx-large;
}

.left-side-content .background-footer-text {
    font-weight: 500;
    font-size: smaller;
}

.right-side-content {
    width: auto;
    min-height: var(--right-side-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
    background: linear-gradient(75deg, rgb(27, 27, 54), rgb(11, 11, 22));
}

.right-side-content .header-info-text {
    margin-left: var(--start-margin);
    margin-right: var(--start-margin);
    font-size: large;
    max-width: 600px;
}

.right-side-content .form-header {
    margin-left: var(--start-margin);
    margin-right: var(--start-margin);
    width: fit-content;
    padding: 8px;
    font-size: large;
    font-style: italic;
    border: 1px solid transparent;
    background: no-repeat linear-gradient(90deg, rgb(224, 48, 136), rgb(49, 49, 95));
    border-radius: 8px 0px 8px 0px;
    color: rgb(255, 255, 255);
}

.right-side-content .form-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--start-margin);
    gap: 1em;
}

.right-side-content .form-content label {
    display: block;
    font-size: smaller;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.right-side-content .form-content input {
    font-family: Mooli;
}

.right-side-content .form-content input[type='text'],
.right-side-content .form-content input[type='password'],
.right-side-content .form-content input[type='tel'],
.right-side-content .form-content input[type='email'] {
    background-color: #f5f5f5;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 7px 4vw;
    font-size: 14px;

}

.right-side-content .input-container {
    position: relative;
}

.right-side-content .form-content input[type='text']:required + span::after,
.right-side-content .form-content input[type='tel']:required + span::after,
.right-side-content .form-content input[type="password"]:required + span::after,
.right-side-content .form-content input[type='email']:required + span::after,
.right-side-content #wrong-pass-alert {
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    right: -1px;
    top: 64px;
    color: white;
    font-size: x-small;
}

.right-side-content .form-content input[type='text']:required + span::after,
.right-side-content .form-content input[type='tel']:required + span::after,
.right-side-content .form-content input[type="password"]:required + span::after,
.right-side-content .form-content input[type='email']:required + span::after {
    content: "required";
    background-color: rgb(43, 48, 105);
}

.right-side-content #wrong-pass-alert {
    right: 50px;
}

.right-side-content .form-row {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

.right-side-content .form-footer {
    margin-top: 2em;
}

.right-side-content .form-footer .submit-button {
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #6595cc;

    border: none;
    border-radius: 3px;

    padding: 10px 20vw;
    cursor: pointer;
}

.right-side-content .form-footer .submit-button:hover {
    background-color: #76AEED;
}

.right-side-content .form-footer .submit-button:active {
    background-color: #407FC7;
}


.right-side-content .signup-footer {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

/*Desktop layout -> only apply when screen width is at least 700px*/
@media only screen and (min-width: 700px) {
    body {
        flex-direction: row;
    }

    .left-side-content {
        height: auto;
        width: var(--left-side-width);
        justify-content: center;
        gap: 5vh;
        align-items: center;
    }

    .left-side-content footer {
        display: block;
        position: relative;
    }


    .right-side-content {
        height: auto;
        width: var(--right-side-width);
        align-items: start;
    }

    .right-side-content .form-content {
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        gap: 2em;
    }

    .right-side-content .form-footer .submit-button {
        margin-left: var(--start-margin);
        padding: 10px 80px;
    }


    .right-side-content .signup-footer {
        margin-left: var(--start-margin);
    }

}